{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "max-len": [
      "warn",
      {
        "code": 120,
        "tabWidth": 4,
        "comments": 120,
        "ignoreComments": false,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  }
}
